<% provide( :title, @author.name ) %>

<div>
  <aside>
    <section>
      <h1>
        <p>(user image: feature pending. see CH 7.1.4 for gravatar equivalent)</p>
        <%= @author.name %>
      </h1>
    </section>
  </aside>
</div>